header {
    font-size:18px;
    border-bottom: 6px orange solid;
}
.navbar {
    margin: 20px;
    max-height: 80px;
    text-align: center;
}
.gamesbody {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),;
}
  
.headercolor {
    color: white;
    text-decoration: none;
}
  
.headercolor:hover {
    color: orange;
}

.forgoheadercolor{
    color: white;
    text-decoration: none;
}

.forgoheadercolor:hover {
    color: orange;
}
    
.gamelinks {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    background-color: rgb(0, 48, 16);
    font-size:25px;
    color: whire;
    width: 100%;
    height: 110px;
    top: 0; left: 0;
    font-family: 'Raleway', sans-serif;
}
  
.footerclass {
    color: white;
}
  
footer {
    border-top: orange 10px solid;
    background-color: rgb(0, 48, 16);
}
  
.footerclass:hover {
    color: orange;
}
  
.container {
    max-width: 960px;
}
  
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
  
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}
  
.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
  
.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}
   
.flex-equal > * {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
}
  
.bg{
    background-color: rgb(0, 48, 16);
    color: white;
}